
/* delvis modifisert fra https://stackoverflow.com/questions/710089/how-do-i-make-an-html-link-look-like-a-button */

body {
    background-image: url("Images/circle-blues.png");
    color: white;
    font-family: "Arial", sans-serif;
    font-size: 1em;
    margin: auto;
    max-width: 70em;
    word-wrap: break-word;
    line-height: 1.5em;
}

h1 {
    color: white;
    text-shadow: 5px 5px 5px black;
    text-decoration: underline;
    text-decoration-style: dotted;
}

a:link {
    color: lightskyblue;
}

/* visited link */
a:visited {
    color: lightpink;
}

/*.content {
    margin: auto;
    max-width: 900px;
}*/

.flash-notice {
    color: mediumvioletred;

}

button, input[type="submit"], .button_white {

   /* background-color: blue;
    border-top: solid #80c3e6;
    border-right: solid darkblue;
    border-bottom: solid darkblue;
    border-left: solid #80c3e6;*/
    background-color: green;
    border-top: solid lightgreen;
    border-right: solid #004200;
    border-bottom: solid #004200;
    border-left: solid lightgreen;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    padding: 0.3em 0.3em;
    margin: 1em 1em;
    border-radius: 0.3em;
    cursor: pointer;
}

input, textarea {
    margin-bottom: 0.5em;
    border-radius: 0.3em;
}

input[type=submit].delete {
    background-color: red;
    color: white;
    border-top: solid #FF7777;
    border-right: solid darkred;
    border-bottom: solid darkred;
    border-left: solid #FF7777;
    cursor: pointer;
}

label {
    margin-top: 0.5em;
}

/*.button_white {
    background-color: white;
    border: black 1px solid;
    color: black;
    padding: 0.3em 0.3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 1em 1em;
    cursor: pointer;
}*/

a.button_white  {
    color: white;
    text-decoration: none;
    cursor: pointer;
}





#commenttext {
    background-color: #555555;
    text-align: left;
    display: inline-block;
    border: black 1px;
    border-radius: 0.5em;
    font-size: 1em;
    margin: 2px;
    padding: 0.4em;
}

#comment {
    font-size: 1em;
    margin: 1px;
}


input#comment_delete {
    margin: 2px;
    padding: 0.3em;
}

#tag {
    background-color: lightskyblue;
    border-radius: 0.5em;
    color: darkmagenta;
    text-align: center;
    padding: 0.3em;
    text-decoration: none;
}

.circle {
    border-radius: 3em;
}

.button_pagination {
    border-radius: 1em;
    color: red;
    font-size: 1.1em;
}

.pagination {
    font-size: 1.2em;
    color: white;
    float: bottom;
    text-align: center;
}

.file-list {
    border: 30px solid;
    border-image-source: url("Images/greenframe.svg");
    border-image-slice: 100;
    border-image-repeat: repeat;
    display: block;
    margin: 0.5em;
    padding: 0.5em;
}

.element_box {
    float: contour;
    display: inline-block;
    margin: 0.3em;
    padding: 0.3em;
}

.search {
    float: right;
    background: darkturquoise;
    display: inline-block;
    border-radius: 0.5em;
}

table#search_form {
    width: 30em;
    word-wrap: break-word;
    border: 1px darkgreen;
}

table, tr, td {
    border: transparent;
}

table#search_form tr, table#search_form td {
    padding: 1em;
    margin-left: 1em;
}


