<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
{% include 'login2.twig' %}
<form method="post">
    <input type="hidden" name="MAX_FILE_SIZE" value="5365536" />
    <table border="1" cellspacing="0" cellpadding="5" width="400">
        <tr>
            <td>
                <input type="checkbox" name="access" value="0">
                Only accessible for registered users
            </td>
        <tr><td><label>Catalog name: </label>
                <input type="text" name="catalogName" required maxlength=45 value="{{ catalog.getCatalogName() }}"></td></tr>
        <tr><td><br><label>Catalog:</label>
                <br><select name="catalogId">
                    <option value="1"> Main </option>
                    {% if catalogsList %}
                        {% for catalog in catalogsList %}
                            <option value="{{ catalog.catalogId }}" {% if catalog.catalogId == catalog.getParentId() %} selected {% endif %}>{{ catalog.catalogName }} </option>
                        {% endfor %}
                    {% endif %}
                </select>
    <input type="hidden" value="{{ xsrfMac.getMac("Edit catalog") }}" name="XSRFPreventionToken">
    <td colspan="2" width="400" align="middle">
        <input type="submit" name="edit_catalog" value="Edit" />
    </td>
    </tr>
    </table>
</form>
</body>
</html>