<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../../stylesheet.css" />
    <title>Edit catalog</title>
</head>
<body>
<h1>Change catalog details</h1>
{% include 'login2.twig' %}
<form method="post">
    <input type="hidden" name="MAX_FILE_SIZE" value="5365536" />
    <table border="1" cellspacing="0" cellpadding="5" width="400">
        <tr>
            <td>
                <input type="checkbox" name="access" value="0" {% if catalog.getAccess == 1 %} checked {% endif %}>
                Only accessible for registered users
            </td>
        <tr><td><label>Catalog name: </label>
                <input type="text" name="catalogName" required maxlength=45 value="{{ catalog.getCatalogName() }}"></td></tr>
        <tr><td><br><label>Catalog:</label>
                <br><select name="catalogId">
                    <option value="1"> Main </option>
                    {% if catalogsList %}
                        {% for catalogdata in catalogsList %}
                            <option value="{{ catalogdata.catalogId }}" {% if catalogdata.catalogId == catalog.getParentId() %} selected {% endif %}>{{ archive.getCatalogPath(catalogdata.catalogId) }} </option>
                        {% endfor %}
                    {% endif %}
                </select>
    <input type="hidden" value="{{ getMac("Edit catalog") }}" name="XSRFPreventionToken">
    <td colspan="2" width="400" align="middle">
        <input type="submit" name="edit_catalog" value="Edit" />
    </td>
    </tr>
    </table>
</form>
</body>
</html>