<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link type="text/css" rel="stylesheet" href="../stylesheet.css" />
  <title>Login</title>
</head>
<body>
<h2>Log in</h2>
{% if session.getFlashBag.has('header') %}
<div class="flash-notice">
  {% for header in session.getFlashBag.get('header', []) %}
    <h3>{{ header }}</h3>
  {% endfor %}
  {% endif %}
  </div>
  <form action="../login/index.php" method="post">
    <table>
      <tr><td><label>Email: </label> </td>
        <td><input type="email" name="email"></td></tr>
      <tr><td><label>Password:</label> </td>
        <td><input type="password" name="password" size="15"></td></tr>
      <input type="hidden" value="{{ getMac("Login") }}" name="XSRFPreventionToken">
      <tr><td colspan="2"><input type="submit" name="login" value="Login"></td>
      </tr>
    </table>
  </form>
  <p>Logg inn med email: "aka160@post.uit.no" & passord: "test"</p>

</body>
</html>
