{% if user.loggedIn() %}
    <p>
        Du er logget inn som {{user.getFullName()}}
    </p>
    <form action="index.php" method="post">
        <input type="submit" name="logout" value="Logout">
    </form>
{% else %}
    <h3>Du må logge inn</h3>
    <form action="index.php" method="post">
        <table>
            <tr><td><label>Brukernavn: </label> </td>
                <td><input type="text" name="username"></td></tr>
            <tr><td><label>Passord:</label> </td>
                <td><input type="password" name="password" size="15"></td></tr>
            <tr><td colspan="2"><input type="submit" name="login" value="Login"></td>
            </tr>
        </table>
    </form>
    <p>Logg inn med bruker: "donald" & passord: "test"</p>
{% endif %}