<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lost password page</title>
</head>
<body>

<h1>Reset Password</h1>

<form action="../change_password/index.php" method="post">

    <table border="1" cellspacing="0" cellpadding="5" width="400">
        <tr>
        <tr height="50"><td><label>Username: </label>
            <td><input type="text" name="username"></td></tr>
        <tr height="50"><td><label>E-mail address: </label>
            <td><input type="email" name="email"></td></tr>

        <td><input type="submit" name="Submit" value="Change password" /></td>
        </tr>
    </table>

</form>

</body>
</html>