<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register User</title>
</head>
<body>
<h1>Register user</h1>
<form method="post">
    <label>Username:</label>
    <br><input type="text" name="username" value="" maxlength=30 required />
    <br><label>Name:</label>
    <br><input type="text" name="firstname" value="" maxlength=45 required />
    <br><label>Last name:</label>
    <br><input type="text" name="lastname" value="" maxlength=45 required />
    <br><label>Epost:</label>
    <br><input type="email" name="email" value="" maxlength=45 required />
    <br><label>Password:</label>
    <br><input type="password" name="password" value="" maxlength=60 required />
    <br><input type="submit" name="register" value="Register"></form>
</body>
</html>