<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../stylesheet.css" />
    <title>Register User</title>
<<<<<<< HEAD
=======
</head>
<body>
>>>>>>> master
<script>
    var check = function() {
        var pass1 = document.getElementById("password").value;
        var pass2 = document.getElementById("password2").value;
        if (pass1 != "" && pass2 != "") {
            if (pass1 === pass2) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'matching';
                return true;
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'not matching';
                return false;
            }
        }
        else document.getElementById('message').innerHTML = '';
        return false;
    }

    function validate(){
        var pass1 = document.getElementById("password").value;
        var pass2 = document.getElementById("password2").value;
        return check();
    }

</script>
<<<<<<< HEAD
</head>
<body>
<<<<<<< HEAD
=======
>>>>>>> master
{% include 'login2.twig' %}
<h1>Register user</h1>
<div class = "form">
=======
<div class = "contact-form">
<h1 id="contact">Register User</h1>
>>>>>>> c9bb35f9844893f7adef843772e0081e20944107
<form method="post" id="register_form" onsubmit="return validate();">
    <div id="error_msg"></div>
    <div>
<<<<<<< HEAD
    <input type="text" name="username" value="" placeholder="User name" maxlength=30 required id="username" />
    <span></span>
        <div id="usrnm_msg"></div>
    </div>
    <div>
    <label>First Name:</label>
    <br><input type="text" name="firstname" value="" placeholder="First name" maxlength=45 required id="firstname" />
    <br><label>Last name:</label>
    <br><input type="text" name="lastname" value="" placeholder="Last name" maxlength=45 required id="lastname" />
    </div>
        <div>
    <label>Epost:</label>
    <br><input type="email" name="email" value="" placeholder="Email" maxlength=45 required id="email" />
        <span></span>
    </div>
    <div>
    <label>Password: </label>
    <br><input type="password" name="password"  required id="password" placeholder="Password" maxlength=60 value="" onkeyup='check();'>
    <br><label>Confirm password:</label>
    <br><input type="password" name="password2" required id="password2" placeholder="Confirm Password" maxlength=60 value="" onkeyup='check();'/>
        <span id='message'></span>
    <input type="hidden" value="{{ getMac("Register") }}" name="XSRFPreventionToken">
<<<<<<< HEAD
        <br><input type="submit" name="register" id="reg_btn" value="Register"></div></form>
=======
    <br><input type="submit" name="register" id="reg_btn" value="Register">
>>>>>>> master
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../script.js"></script>
</div>
</form>
</div>
<<<<<<< HEAD
<p id="back"><a href = "javascript:history.back()"><img src="{{rel}}Images/BackBtn.svg" alt="Back" style="width:10%"></a></p>
=======
<p id="back"><a href = "javascript:history.back()"><img src="{{rel}}Images/BackBtn.svg" alt="Back" width="100"></a></p>
>>>>>>> master
</body>
</html>
=======
        <label id = "cntlabel">Username:</label>
        <input class = "form"  type="text" name="username" value="" placeholder="User name" maxlength=30 required id="username" />
        <span></span>
        <div id="usrnm_msg"></div>
    </div>
    <div class ="form">
        <label id = "cntlabel">First Name:</label>
        <input class = "form" type="text" name="firstname" value="" placeholder="First name" maxlength=45 required id="firstname" />
        <br><label id = "cntlabel">Last Name:</label>
        <input class = "form"  type="text" name="lastname" value="" placeholder="Last name" maxlength=45 required id="lastname" />
        <div>
            <label id = "cntlabel">Epost:</label>
            <input class = "form"  type="email" name="email" value="" placeholder="Email" maxlength=45 required id="email" />
            <span></span>
        </div>
        <div>
            <label id = "cntlabel">Password: </label>
            <input class = "form"  type="password" name="password"  required id="password" placeholder="Password" maxlength=60 value="" onkeyup='check();'>
            <br><label id = "cntlabel">Confirm password:</label>
            <input class = "form"  type="password" name="password2" required id="password2" placeholder="Confirm Password" maxlength=60 value="" onkeyup='check();'/>
            <span id='message'></span>
            <input class = "form"  type="hidden" value="{{ getMac("Register") }}" name="XSRFPreventionToken">
            <br><input class = "contact-submit" type="submit" name="register" id="reg_btn" value="Register"></form>
<p><a href = "../">Back </a></p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../script.js"></script>
</div></body>
</html>
>>>>>>> c9bb35f9844893f7adef843772e0081e20944107
