<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<<<<<<< HEAD
    <title>Verify Email</title>
=======
    <link type="text/css" rel="stylesheet" href="../stylesheet.css" />
    <title>Email verification</title>
>>>>>>> Ting0503
</head>
<body>

{% if verified %}
    <h1>Congratulations!</h1>
    <p>Your account has been activated successfully</p>
<<<<<<< HEAD
    <p><a href="../login/index.php">click here and login</a></p>
=======
    <p><a href="{{rel}}../login/">click here and login</a></p>
>>>>>>> Ting0503

{% else %}
    <h1>oops...</h1>
    <p>Account activation failed, please try again.</p>
<<<<<<< HEAD
    <p><a href="../register/index.php">click here and try again</a></p>
{% endif %}

</body>
</html>
=======
{% endif %}

</body>
</html>
>>>>>>> Ting0503
