<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify Email</title>
</head>
<body>

{% if verified %}
    <h1>Congratulations!</h1>
    <p>Your account has been activated successfully</p>
    <p><a href="../login/index.php">click here and login</a></p>

{% else %}
    <h1>oops...</h1>
    <p>Account activation failed, please try again.</p>
    <p><a href="../register/index.php">click here and try again</a></p>
{% endif %}

</body>
</html>